.button {
    flex: 1 1 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    line-height: 16px;
    font-weight: 500;
    box-shadow: none;
}

.button:focus-visible {
    outline: 4px auto var(--color-primary-dark);
}

.button:focus {
    outline: none;
}

.button--small {
    gap: 4px;
    height: 24px;
    padding: 4px 8px;
    font-size: 14px;
}

.button--medium {
    gap: 8px;
    height: 32px;
    padding: 8px 16px;
    font-size: 16px;
}

.button--icon-only {
    flex: 0 0 auto;
}

.button--icon-only.button--small {
    padding: 4px;
}

.button--icon-only.button--medium {
    padding: 8px;
}

.button--primary-contained {
    background: var(--color-primary);
    color: var(--color-common-white);
}

.button--primary-contained .icon path {
    stroke: var(--color-common-white);
    fill: var(--color-common-white);
}

.button--primary-contained:hover,
.button--primary-contained:focus {
    background: var(--color-primary-dark);
}

.button--primary-contained:disabled {
    background: var(--color-grey-200);
    color: var(--color-grey-500);
}

.button--primary-contained:disabled .icon path {
    stroke: var(--color-grey-500);
    fill: var(--color-grey-500);
}

.button--primary-outlined {
    background: var(--color-common-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.button--primary-outlined .icon path {
    stroke: var(--color-primary);
    fill: var(--color-primary);
}

.button--primary-outlined:hover,
.button--primary-outlined:focus {
    background: var(--color-primary-surface);
    color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
}

.button--primary-outlined:hover .icon path {
    stroke: var(--color-primary-dark);
    fill: var(--color-primary-dark);
}

.button--primary-outlined:focus .icon path {
    stroke: var(--color-primary-dark);
    fill: var(--color-primary-dark);
}

.button--primary-outlined:disabled {
    color: var(--color-grey-500);
    border-color: var(--color-grey-300);
}

.button--primary-outlined:disabled .icon path {
    stroke: var(--color-grey-500);
    fill: var(--color-grey-500);
}

.button--secondary-contained {
    background-color: var(--color-grey-200);
    color: var(--color-common-black);
}

.button--secondary-contained .icon path {
    stroke: var(--color-common-black);
    fill: var(--color-common-black);
}


.button--secondary-contained:hover,
.button--secondary-contained:focus {
    background-color: var(--color-grey-300);
}

.button--secondary-contained:disabled {
    color: var(--color-grey-500);
}

.button--secondary-contained:disabled .icon path {
    stroke: var(--color-grey-500);
    fill: var(--color-grey-500);
}

.button--secondary-outlined {
    background: var(--color-common-white);
    color: var(--color-common-black);
    border: 1px solid var(--color-grey-400);
}

.button--secondary-outlined .icon path {
    stroke: var(--color-common-black);
    fill: var(--color-common-black);
}

.button--secondary-outlined:hover,
.button--secondary-outlined:focus {
    border-color: var(--color-grey-500);
}

.button--secondary-outlined:disabled {
    color: var(--color-grey-500);
    border-color: var(--color-grey-300);
}

.button--secondary-outlined:disabled .icon path {
    stroke: var(--color-grey-500);
    fill: var(--color-grey-500);
}

.icon {
    width: 16px;
    height: 16px;
}

.icon svg {
    width: 9px;
    height: 9px;
}

.icon .button__icon--delete {
    width: 10.67px;
    height: 12px;
}

.icon--left {
    order: 0
}

.icon--right {
    order: 1
}
