:root {
    --color-primary: #4B7A8A;
    --color-primary-dark: #245866;
    --color-primary-surface: #F5F9F9;

    --color-common-white: #FFFFFF;
    --color-common-black: #1A1A1A;

    --color-grey-50: #FAFAFA;
    --color-grey-200: #EEEEEE;
    --color-grey-300: #DDDDDD;
    --color-grey-400: #B9B9B9;
    --color-grey-500: #909090;
    --color-grey-600: #707070;

    --color-label: #454545;
}
