.input-number {
    min-width: 150px;
    width: 30%;
}

.input-number__group-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-number__group-container button {
    position: absolute;
    z-index: 1;
    height: 20px;
    width: 20px;
    border-radius: 2px;
}

.input-number__group-container button:first-of-type {
    left: 4px;
}

.input-number__group-container button:last-of-type {
    right: 4px;
}

.input-number__group-container input {
    flex: 1;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
