.input__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
}

.input__container label {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-label);
}

.input__field {
    box-sizing: border-box;
    background-color: var(--color-common-white);
    border: 1px solid var(--color-grey-400);
    color: var(--color-grey-600);
}

.input__field--small {
    padding: 2px;
    height: 24px;
    border-radius: 4px;
    line-height: 20px;
    font-size: 14px;
}

.input__field--medium {
    padding: 8px 8px 8px 16px;
    height: 32px;
    border-radius: 8px;
    line-height: 16px;
    font-size: 16px;
}

.input__field::placeholder {
    color: var(--color-grey-500);
    font-weight: 600;
}

.input__field:hover {
    border-color: var(--color-grey-500);
    outline: none;
}

.input__field:focus {
    border-width: 2px;
    border-color: var(--color-primary);
    outline: none;
}

.input__field:focus::placeholder {
    opacity: 0;
}

.input__field:disabled {
    background: var(--color-grey-50);
    border-color: var(--color-grey-400);
    color: var(--color-grey-500);
}
